{% load thumbnail %}

<!-- Main Header-->
<header class="main-header">
    <!--Header Top-->
    <div class="header-top">
        <div class="auto-container clearfix">
            <div class="top-left">
                <div class="text">{{ setting.slogan }}</div>
            </div>

            <div class="top-right">
                <ul class="contact-info clearfix">
                    <li><span class="icon fa fa-phone-volume"></span> <a href="tel:{{ setting.phone_number }}">{{ setting.phone_number }}</a></li>
                    <li><span class="icon fa fa-envelope"></span> <a href="mailto:{{ setting.email }}">{{ setting.email }}</a></li>
                </ul>
                <ul class="social-icon-one clearfix">
                    {% for social in socials %}
                        <li><a href="{{ social.link }}"><i class="fab fa-{{ social.name }}"></i></a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <!-- End Header Top -->

    <!--Header Lower-->
    <div class="header-lower">
        <div class="auto-container">
            <div class="main-box clearfix">
                <div class="pull-left logo-outer">
                    <div class="logo">
                        <a href="{% url 'pages:home' %}">
                            {% thumbnail setting.logo "60" format="PNG" as im %}
                                <img src="{{ im.url }}" alt="{{ setting.logo_alternate_text }}">
                            {% endthumbnail %}
                        </a>
                    </div>
                </div>

                <!--Nav Box-->
                <div class="nav-outer clearfix">
                    <!--Mobile Navigation Toggler-->
                    <div class="mobile-nav-toggler"><span class="icon flaticon-menu"></span></div>

                    <!-- Main Menu -->
                    <nav class="main-menu navbar-expand-md navbar-light">
                        <div class="collapse navbar-collapse clearfix" id="navbarSupportedContent">
                            <ul class="navigation clearfix">
                                <li class="{% if view.page_name == 'خانه' %} current{% endif %}"><a href="{% url 'pages:home' %}">خانه</a></li>
                                <li class="dropdown{% if view.page_name == 'درباره ما' or view.page_name == 'سوالات متداول' or view.page_name == 'تیم ما' %} current{% endif %}">
                                    <a href="{% url 'pages:about' %}">درباره‌</a>
                                    <ul>
                                        <li><a href="{% url 'pages:about' %}">درباره‌ما</a></li>
                                        <li><a href="{% url 'pages:faq' %}">سوالات متداول</a></li>
                                        <li><a href="{% url 'pages:team' %}">تیم ما</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown{% if view.page_name == 'سرویس ها' %} current{% endif %}"><a href="{% url 'pages:services' %}">سرویس ها</a>
                                    <ul>
                                        {% for item in services %}
                                            <li><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </li>
                                <li class="dropdown{% if view.page_name == 'پروژه‌ها' %} current{% endif %}"><a href="{% url 'pages:projects' %}">پروژه ها</a>
                                    <ul>
                                        <li><a href="{% url 'pages:projects' %}">همه پروژه‌ها</a></li>
                                        {% for category in projects_categories %}
                                            <li><a href="{{ category.get_absolute_url }}">{{ category.title }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </li>
                                <li class="dropdown{% if view.page_name == 'وبلاگ' or view.page_name == 'مطالب' %} current{% endif %}">
                                    <a href="{% url 'pages:blogs' %}">وبلاگ</a>
                                    <ul>
                                        {% for cat in blog_categories %}
                                            <li><a href="{{ cat.get_absolute_url }}">{{ cat.title }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </li>
                                {#                                <li class="dropdown{% if view.page_name == 'فروشگاه' %} current{% endif %}"><a href="#">فروشگاه</a>#}
                                {#                                    <ul>#}
                                {#                                        <li><a href="shop.html">Shop</a></li>#}
                                {#                                        <li><a href="shop-single.html">Product Details</a></li>#}
                                {#                                        <li><a href="shopping-cart.html">Cart Page</a></li>#}
                                {#                                        <li><a href="checkout.html">Checkout Page</a></li>#}
                                {#                                        <li><a href="login.html">Registration Page</a></li>#}
                                {#                                    </ul>#}
                                {#                                </li>#}
                                <li {% if view.page_name == 'تماس باما' %}class="current"{% endif %}>
                                    <a href="{% url 'pages:contact' %}">تماس</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                    <!-- Main Menu End-->

                    <div class="outer-box">
                        <!-- Shoppping Car -->
{#                        <div class="cart-btn">#}
{#                            <a href="#"><i class="icon flaticon-shopping-bag"></i> <span class="count">2</span></a>#}
{#                        </div>#}

                        <!-- Btn Box -->
                        <div class="btn-box">
                            <a href="#" class="theme-btn btn-style-one"><span class="btn-title">{{ setting.name }}</span> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End Header Lower-->

    <!-- Sticky Header  -->
    <div class="sticky-header">
        <div class="auto-container clearfix">
            <!--Logo-->
            <div class="logo pull-left">
                <a href="{% url 'pages:home' %}">
                    {% thumbnail setting.logo "60" format="PNG" as im %}
                        <img src="{{ im.url }}" alt="{{ setting.logo_alternate_text }}">
                    {% endthumbnail %}
                </a>
            </div>
            <!--Right Col-->
            <div class="nav-outer pull-right">
                <!--Mobile Navigation Toggler-->
                <div class="mobile-nav-toggler"><span class="icon flaticon-menu"></span></div>

                <!-- Main Menu -->
                <nav class="main-menu">
                    <div class="navbar-collapse show collapse clearfix">
                        <ul class="navigation clearfix"><!--Keep This Empty / Menu will come through Javascript--></ul>
                    </div>
                </nav><!-- Main Menu End-->
            </div>
        </div>
    </div><!-- End Sticky Menu -->


    <!-- Mobile Menu  -->
    <div class="mobile-menu">
        <div class="menu-backdrop"></div>
        <div class="close-btn"><span class="icon flaticon-cancel-1"></span></div>

        <!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header-->
        <nav class="menu-box">
            <div class="nav-logo">
                <a href="{% url 'pages:home' %}">
                    {% thumbnail setting.logo "60" format="PNG" as im %}
                        <img src="{{ im.url }}" alt="{{ setting.logo_alternate_text }}">
                    {% endthumbnail %}
                </a>
            </div>
            <ul class="navigation clearfix"><!--Keep This Empty / Menu will come through Javascript--></ul>
        </nav>
    </div><!-- End Mobile Menu -->
</header>
<!--End Main Header -->