{% extends 'shared/_Base.html' %}
{% load static %}
{% load thumbnail %}
{% block title %}
    {{ view.page_name }}
{% endblock %}

{% block body %}

    {% include 'partials/pages_header.html' %}
    <!-- Sidebar Page Container -->
    <div class="sidebar-page-container">
        <div class="auto-container">
            <div class="row clearfix">
                <!--Content Side-->
                <div class="content-side col-lg-8 col-md-12 col-sm-12 order-2">
                    <div class="blog-classic">
                        {% for blog in blogs %}
                            <div class="news-block-two wow fadeInUp">
                                <div class="inner-box">
                                    <div class="image-box">
                                        <figure class="image"><a href="{{ blog.get_absolute_url }}">
                                            {% thumbnail blog.picture "770x350" crop="center" format="PNG" as im %}
                                                <img src="{{ im.url }}" alt="{{ blog.picture_alternate_text }}">
                                            {% endthumbnail %}
                                        </a></figure>
                                    </div>
                                    <div class="lower-content">
                                        <ul class="post-info">
                                            <li><a href="{{ blog.get_absolute_url }}"><span class="far fa-calendar"></span> {{ blog.created }}</a></li>
                                        </ul>
                                        <h4><a href="{{ blog.get_absolute_url }}">{{ blog.title }}</a></h4>
                                        <div class="text">{{ blog.summary }}
                                        </div>
                                        <div class="btn-box"><a href="#" class="read-more">ادامه مطلب... <span class="fa fa-arrow-right"></span></a></div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        {% if blogs.has_other_pages %}
                            <!-- Styled Pagination-->
                            <div class="styled-pagination text-center">
                                <ul class="clearfix">
                                    {% if blogs.has_previous %}
                                        <li class="prev-post">
                                            <a href="{% url 'pages:blogs' blogs.previous_page_number %}">
                                                <span class="flaticon-back-1"></span>
                                            </a>
                                        </li>
                                    {% else %}
                                        <li class="prev-post" style="padding-left: 190px">
                                            <a class="d-none" href="#">
                                                <span class="flaticon-back-1"></span>
                                            </a>
                                        </li>
                                    {% endif %}
                                    {% for i in blogs.paginator.page_range %}
                                        <li {% if blogs.number == i %}class="active"{% endif %}>
                                            <a href="{% url 'pages:blogs' i %}">{{ i }}</a>
                                        </li>
                                    {% endfor %}
                                    {% if blogs.has_next %}
                                        <li class="next-post">
                                            <a href="{% url 'pages:blogs' blogs.next_page_number %}">
                                                <span class="flaticon-next-1"></span>
                                            </a>
                                        </li>
                                    {% else %}
                                        <li class="next-post" style="padding-left: 190px">
                                            <a href="#" class="d-none">
                                                <span class="flaticon-next-1"></span>
                                            </a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>
                        {% endif %}
                    </div>
                </div>

                <!--Sidebar Side-->
                <div class="sidebar-side col-lg-4 col-md-12 col-sm-12">
                    <aside class="sidebar">
                        <!-- Categories -->
                        <div class="sidebar-widget blog-categories">
                            <div class="sidebar-title"><h2>سته‌بندی‌ها</h2></div>
                            <ul class="cat-list">
                                {% for cat in blog_categories %}
                                    <li {% if cat == category %}class="active"{% endif %}>
                                        <a href="{{ cat.get_absolute_url }}">{{ cat.title }} <span>({{ cat.blogs.count }})</span></a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>

                        <!-- Latest News -->
                        <div class="sidebar-widget latest-news">
                            <div class="sidebar-title"><h2>جدیدترین مطالب</h2></div>
                            <div class="widget-content">
                                {% for item in new_blogs %}
                                    {% if item != blog %}
                                        <article class="post">
                                            <div class="post-thumb">
                                                <a href="{{ item.get_absolute_url }}">
                                                    {% thumbnail item.picture "85x85" crop="center" format="PNG" as im %}
                                                        <img src="{{ im.url }}" alt="{{ item.picture_alternate_text }}">
                                                    {% endthumbnail %}
                                                </a>
                                            </div>
                                            <h3><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></h3>
                                            <div class="post-info">{{ item.created }}</div>
                                        </article>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
    <!-- End Sidebar Container -->

    {% if brands %}
        {% include 'partials/brands.html' %}
    {% endif %}

{% endblock %}