{% extends 'shared/_Base.html' %}
{% load static %}
{% load thumbnail %}
{% block title %}
    {{ view.page_name }}
{% endblock %}

{% block body %}

    {% if sliders %}
        <!-- Banner Section -->
        <section class="banner-section">
            <div class="banner-carousel owl-carousel owl-theme">
                <!-- Slide Item -->
                {% for slider in sliders %}
                    <div class="slide-item">
                        <div class="image-layer" style="background-image:url({{ slider.picture.url }})"></div>
                        <div class="content-box">
                            <div class="content">
                                <div class="auto-container">
                                    {% if slider.sub_title %}
                                        <span class="title">{{ slider.sub_title }}</span>
                                    {% endif %}
                                    <h2>{{ slider.title|safe|linebreaksbr }}</h2>
                                    <div class="text">
                                        {{ slider.description|safe|linebreaksbr }}
                                    </div>
                                    {% if slider.btn and slider.link %}
                                        <div class="btn-box">
                                            <a href="{{ slider.link }}" class="theme-btn btn-style-two"><span class="btn-title">{{ slider.btn }}</span></a>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
        <!--END Banner Section -->
    {% endif %}
    {% if about %}
        <!-- About Us -->
        <section class="about-us">
            <div class="auto-container">
                <div class="row clearfix">
                    <!-- Content Column -->
                    <div class="content-column col-lg-6 col-md-12 col-sm-12">
                        <div class="inner-column">
                            <div class="sec-title">
                                <h2>درباره‌ما</h2>
                            </div>

                            <div class="about-years"><span class="years">{{ about.experience }}</span>
                                <h3>سال تجربه کاری</h3></div>
                            <div class="text-box">
                                {{ about.description|safe }}
                            </div>
                        </div>
                    </div>

                    <div class="image-column col-lg-6 col-md-12 col-sm-12">
                        <div class="inner-column">
                            <div class="video-box wow fadeIn">
                                <figure class="image">
                                    {% thumbnail about.picture "570x570" format="PNG" as im %}
                                        <img src="{{ im.url }}" alt="{{ about.picture_alternate_txt }}">
                                    {% endthumbnail %}
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End About Us -->
    {% endif %}
    {#        <!-- Services Section -->#}
    {#        <section class="services-section">#}
    {#            <div class="auto-container">#}
    {#                <div class="row">#}
    {#                    <div class="col-lg-8 col-md-12">#}
    {#                        <div class="sec-title">#}
    {#                            <h2>Our Services</h2>#}
    {#                            <div class="text">What We Provide For You check now and deside it<br> do you want now this</div>#}
    {#                        </div>#}
    {#                    </div>#}
    {#                    <div class="col-lg-4 col-md-12">#}
    {#                        <div class="right-btn text-right">#}
    {#                            <a href="about.html" class="theme-btn btn-style-two"><span class="btn-title">All Services</span></a>#}
    {#                        </div>#}
    {#                    </div>#}
    {#                </div>#}
    {##}
    {#                <div class="carousel-outer">#}
    {#                    <!-- Services Carousel -->#}
    {#                    <div class="services-carousel owl-carousel owl-theme">#}
    {#                        <!-- service Block -->#}
    {#                        <div class="service-block">#}
    {#                            <div class="inner-box">#}
    {#                                <div class="image-box">#}
    {#                                    <figure class="image"><a href="service-detail.html"><img src="{% static 'images/resource/service-1.jpg' %}" alt=""></a>#}
    {#                                    </figure>#}
    {#                                </div>#}
    {#                                <div class="lower-content">#}
    {#                                    <h4><a href="service-detail.html">General Carpentry</a></h4>#}
    {#                                    <div class="text">Professionals work with a variety of all materials, in a variety of settings–indoor and outdoor.</div>#}
    {#                                    <div class="btn-box"><a href="service-detail.html" class="read-more">Read More <span class="fa fa-arrow-right"></span></a>#}
    {#                                    </div>#}
    {#                                </div>#}
    {#                            </div>#}
    {#                        </div>#}
    {##}
    {#                        <!-- service Block -->#}
    {#                        <div class="service-block">#}
    {#                            <div class="inner-box">#}
    {#                                <div class="image-box">#}
    {#                                    <figure class="image"><a href="service-detail.html"><img src="{% static 'images/resource/service-2.jpg' %}" alt=""></a>#}
    {#                                    </figure>#}
    {#                                </div>#}
    {#                                <div class="lower-content">#}
    {#                                    <h4><a href="service-detail.html">Furniture Remodeling</a></h4>#}
    {#                                    <div class="text">Professionals work with a variety of all materials, in a variety of settings–indoor and outdoor.</div>#}
    {#                                    <div class="btn-box"><a href="service-detail.html" class="read-more">Read More <span class="fa fa-arrow-right"></span></a>#}
    {#                                    </div>#}
    {#                                </div>#}
    {#                            </div>#}
    {#                        </div>#}
    {##}
    {#                        <!-- service Block -->#}
    {#                        <div class="service-block">#}
    {#                            <div class="inner-box">#}
    {#                                <div class="image-box">#}
    {#                                    <figure class="image"><a href="service-detail.html"><img src="{% static 'images/resource/service-3.jpg' %}" alt=""></a>#}
    {#                                    </figure>#}
    {#                                </div>#}
    {#                                <div class="lower-content">#}
    {#                                    <h4><a href="service-detail.html">Manufactur Furniture</a></h4>#}
    {#                                    <div class="text">Professionals work with a variety of all materials, in a variety of settings–indoor and outdoor.</div>#}
    {#                                    <div class="btn-box"><a href="service-detail.html" class="read-more">Read More <span class="fa fa-arrow-right"></span></a>#}
    {#                                    </div>#}
    {#                                </div>#}
    {#                            </div>#}
    {#                        </div>#}
    {##}
    {#                        <!-- service Block -->#}
    {#                        <div class="service-block">#}
    {#                            <div class="inner-box">#}
    {#                                <div class="image-box">#}
    {#                                    <figure class="image"><a href="service-detail.html"><img src="{% static 'images/resource/service-4.jpg' %}" alt=""></a>#}
    {#                                    </figure>#}
    {#                                </div>#}
    {#                                <div class="lower-content">#}
    {#                                    <h4><a href="service-detail.html">Hang Paintings</a></h4>#}
    {#                                    <div class="text">Professionals work with a variety of all materials, in a variety of settings–indoor and outdoor.</div>#}
    {#                                    <div class="btn-box"><a href="service-detail.html" class="read-more">Read More <span class="fa fa-arrow-right"></span></a>#}
    {#                                    </div>#}
    {#                                </div>#}
    {#                            </div>#}
    {#                        </div>#}
    {#                    </div>#}
    {##}
    {#                </div>#}
    {#            </div>#}
    {#        </section>#}
    {#        <!-- End service Section -->#}


    <!-- Projects Section -->
    <section class="projects-section-two">
        <div class="auto-container">
            <div class="sec-title text-center">
                <h2>پروژه‌های اخیر</h2>
            </div>
            <!--Sortable Masonry-->
            <div class="sortable-masonry">
                <!--Filter-->
                <div class="filters">
                    <ul class="filter-tabs filter-btns clearfix">
                        <li class="active filter" data-role="button" data-filter=".all">همه پروژه‌ها</li>
                        {% for category in projects_categories %}
                            <li class="filter" data-role="button" data-filter=".{{ category.sku }}">{{ category.title }}</li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="items-container row">
                    {% for project in projects %}
                        <div class="project-block-two all{% for category in project.categories.all %} {{ category.sku }}{% endfor %} col-lg-4 col-md-6 col-sm-12">
                            <div class="inner-box">
                                <div class="image-box">
                                    <figure class="image">
                                        {% thumbnail project.picture "380" format="PNG" as im %}
                                            <img src="{{ im.url }}" alt="{{ project.picture_alternate_text }}">
                                        {% endthumbnail %}
                                    </figure>
                                </div>
                                <div class="overlay-box">
                                    <div class="overlay-inner">
                                        <h4>{{ project.title }}</h4>
                                        <div class="icon-box">
                                            <a href="{{ project.picture.url }}" class="lightbox-image" data-fancybox="gallery"><span
                                                    class="icon fa fa-expand-arrows-alt"></span></a>
                                            <a href="{{ project.get_absolute_url }}"><span class="icon fa fa-search"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="btn-box text-center">
                <a href="{% url 'pages:projects' %}" class="theme-btn btn-style-two"><span class="btn-title">همه پروژه‌ها</span></a>
            </div>
        </div>
    </section>
    <!-- End Projects Section -->

    {% if choose_us %}
        {% include 'partials/ChooseUs.html' %}
    {% endif %}

    {% if founders %}
        <!-- Team Section -->
        <section class="team-section">
            <div class="auto-container">
                <div class="sec-title text-center">
                    <h2>تیم ما</h2>
                    <div class="text">ما یک تیم خبره داریم<br>که رویا را برای شما به واقعیت تبدیل می کند.</div>
                </div>

                <div class="row">
                    {% include 'partials/team.html' %}
                </div>
            </div>
        </section>
        <!--End Team Section -->
    {% endif %}


    {% include 'partials/brands.html' %}


    {% include 'partials/contact.html' %}


    <!-- News Section -->
    <section class="news-section">
        <div class="auto-container">
            <div class="sec-title">
                <h2>اخبار و مقاله‌ها</h2>
                <div class="text">باما بروز باشید. شما اکنون آخرین اخبار و مقاله ما را می خوانید</div>
            </div>

            <div class="row">
                {% for blog in blogs %}
                    <div class="news-block col-lg-4 col-md-6 col-sm-12">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image">
                                    <a href="{{ blog.get_absolute_url }}">
                                        {% thumbnail blog.picture "370" format="PNG" as im %}
                                            <img src="{{ im.url }}" alt="{{ blog.picture_alternate_text }}">
                                        {% endthumbnail %}
                                    </a>
                                </figure>
                            </div>
                            <div class="lower-content">
                                <div class="post-date"><span class="far fa-calendar"></span> {{ blog.created }}</div>
                                <h4><a href="{{ blog.get_absolute_url }}">{{ blog.summary }}</a></h4>
                                <div class="btn-box">
                                    <a href="{{ blog.get_absolute_url }}" class="read-more">ادامه مطلب <span class="fa fa-arrow-right"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!--End News Section Two -->

{% endblock %}