{% extends 'shared/_Base.html' %}
{% load static %}
{% load thumbnail %}
{% block title %}
    {{ view.page_name }}
{% endblock %}

{% block body %}

    {% include 'partials/pages_header.html' %}


    <!-- Projects Section -->
    <section class="projects-section-two">
        <div class="auto-container">
            <!--Sortable Masonry-->
            <div class="sortable-masonry">
                <!--Filter-->
                <div class="filters">
                    <ul class="filter-tabs filter-btns clearfix">
                        <li class="active filter" data-role="button" data-filter=".all">همه پروژه‌ها</li>
                        {% for category in projects_categories %}
                            <li class="filter" data-role="button" data-filter=".{{ category.sku }}">{{ category.title }}</li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="items-container row">
                    {% for project in projects %}
                        <div class="project-block-two all{% for category in project.categories.all %} {{ category.sku }}{% endfor %} col-lg-4 col-md-6 col-sm-12">
                            <div class="inner-box">
                                <div class="image-box">
                                    <figure class="image">
                                        {% thumbnail project.picture "380" format="PNG" as im %}
                                            <img src="{{ im.url }}" alt="{{ project.picture_alternate_text }}">
                                        {% endthumbnail %}
                                    </figure>
                                </div>
                                <div class="overlay-box">
                                    <div class="overlay-inner">
                                        <h4>{{ project.title }}</h4>
                                        <div class="icon-box">
                                            <a href="{{ project.picture.url }}" class="lightbox-image" data-fancybox="gallery"><span
                                                    class="icon fa fa-expand-arrows-alt"></span></a>
                                            <a href="{{ project.get_absolute_url }}"><span class="icon fa fa-search"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <!-- End Projects Section -->


    {% if brands %}
        {% include 'partials/brands.html' %}
    {% endif %}

{% endblock %}